.custom-class{
    border-bottom: 1px solid black;
}
.scroll{
    height: 450px;
    overflow:scroll;
    overflow-x: hidden;
}
.border-top{
    border-top:1px solid black;
}
.border{
    border: 1px solid black
}
.padded{
    padding: 5px;
}
h1{
    margin-left: 370px;  
}